<% include ./partials/header.ejs%>
<div class='conatiner'>
<div class='row'>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
<!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="text-align:center">
      <p><img src="/images/slider1.jpg" alt=""></p>
    </div>

    <div class="item" style="text-align:center">
        <span><img src="/images/slider2.jpg" alt="Chicago"></span>
    </div>

    <div class="item" style="text-align:center">
        <p>
      <img src="/images/slider3.jpg" alt="">
    
</p>      </div>
  </div>
</div>
    </div>
    </div>
<% include ./partials/footer.ejs %>
